@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@500&family=Inter&family=Montserrat:wght@800&family=Roboto:wght@700&family=Teko:wght@600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #1F1517;
    color: #ffffff;
}

html {
    font-family: Inter, sans sans-serif;
    font-weight: 500;
}

a {
   text-decoration: none;
   
   
    
}

ul {
   list-style: none;
}

nav {
    max-width: 1120px;
    margin: auto;
    padding: 1.5rem 10rem;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

}

.logo {
    font-family: Teko;
    font-size: 2rem;
    font-weight: 600;
    text-transform: uppercase;
}

.menunav {
    color: rgba(255, 242, 231, 0.50);
    display: flex;
    flex-direction: row;
    gap: 1.5rem;
    font-family: Inter;
    font-weight: 500;
    

    

}